.gameover {
    text-align: center;
    width: 100vw;
    height: 100vh;
    background-image: url(https://www.wallpaperflare.com/static/378/413/234/space-spaceship-game-digital-wallpaper.jpg) ;
    background-size:  cover ;
    background-repeat:  no-repeat ;
    background-position:  center center ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gameover>img {
    width:60%;
}

@media screen and (min-width: 320px) and (max-width: 700px) {
    .gameover>img {
        width:100%;
    }
    .gameover>button {
        width: 150px;
        height: 50px;
        font-size: 20px;
    }
}